.tweetCard {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
  form {
    display: flex;
    flex-direction: column;
  }
  &__imageInput {
    border: none;
    outline: none;

    padding: 10px;
  }
  &__input {
    padding: 20px;
    display: flex;
    input {
      flex: 1;
      margin-left: 20px;
      font-size: 20px;
      border: none;
    }
  }

  &__tweetButton {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
  }
}
